
/* generali */
/* margini e padding */
.margin_right20{
  margin-right: 20px;
}

.margin_right10{
  margin-right: 10px;
}

.margin_left10{
  margin-left: 10px;
}

.margin_left20{
  margin-left: 20px;
}

.margin_bottom10{
  margin-bottom: 10px;
}
.margin_bottom20{
  margin-bottom: 20px;
}

.margin_bottom30{
  margin-bottom: 30px;
}

.margin_top5{
  margin-top: 5px;
}

.margin_top30{
  margin-top: 30px;
}

/* colori */
.colorebianco{
  color: #fff;
}
.coloregrigio{
  color: #878787;
}


/* /colori */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-width: 599px;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.float-lt{
  float: left;
}

main{
  width: 100%;
  min-height: 40vh;
  height: calc(100vh - 90px);
}
/* navbar laterale */

.nav_laterale{
  width: 230px;
  height: 100%;
  background-color: black;
}
/* parte superiore della navbar laterale */
.s_nav_top{
  width: 100%;
  min-height: 400px;
  height: calc(100% - 80px);
  overflow: hidden;
}

/* logo normale */
.nav_lg{
  width: 75%;
}
.nav_logo{
  width: 100%;
  height: 90px;
  background-color: red;
  padding: 20px;
}
/* logo mobile */
.nav_lm{
  width: 75%;
  display: none;
}

/* primo menu con le immagini "home, cerca e libreria */
main .nav_laterale .s_nav_top ul{
  list-style:none;
}
main .nav_laterale .s_nav_top ul li{
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  margin-top: 5px;
  color:#515151;
}
main .nav_laterale .s_nav_top ul li img{
  width: 26px;
  height: 26px;
}

main .nav_laterale .s_nav_top ul li a{
  line-height: 26px;
  margin-right: 7px;
  margin-left: 7px;
}

main .nav_laterale .s_nav_top ul li span{
  line-height: 26px;
}

main .nav_laterale .s_nav_top ul li:hover .barra_green{
  display: block;
}

main .nav_laterale .s_nav_top ul li:hover {
  color: #FFF;
}

main .nav_laterale .s_nav_top ul li .barra_green{
  height: 30px;
  width: 2px;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  background-color: #adff2f;
}

/* sezione con il crea playlist */
main .nav_laterale{
  overflow: hidden;
}
/* ricordarsi di cambiare e di dare una classe all'ul e di dargli un'altezza in percentuale rispetto al padre in modo da dargli l'overflowy e di far apparire la scrollbar laterale E' POSSIBILE RISOLVERE IL PROBLEMA CON FLEX
attenzione 
AL CONTENITORE SNAV TOP DARE UN ALTEZZA DI TOT PIXEL - SNAV BOTTOM E POI DARE UNA GRANDEZZA IN PERCENTUALE ALL'UL
*/
main .nav_laterale .s_nav_top .playlist{
  height: 40%;
  overflow: hidden;
}

main .nav_laterale .s_nav_top .playlist .playlist_name{
  height: 70%;
  overflow-y: auto;
}

main .nav_laterale .s_nav_top .playlist .playlist_name ul{
  height: 80%;
}

main .nav_laterale .s_nav_top .playlist .playlist_name ul li span {
  margin-left: 20px;
} 


/* quadratino con il + */
main .nav_laterale .s_nav_top .playlist .New_p::before{
  content: "+";
  font-size: 40px;
  font-weight: 700;
  color: black;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: gray;
  vertical-align: middle;
  line-height: 40px;
  text-align: center;
  margin-right: 16px;
  cursor: pointer;
}

main .nav_laterale .s_nav_top .playlist .New_p:hover::before{
  background-color: #FFF;
}
/* parte inferiore della navbar laterale */
main .nav_laterale .s_nav_bottom{
  width: 100%;
  height: 80px;
  padding: 20px;
}

main .nav_laterale .s_nav_bottom .installa_app{
  padding-bottom: 5px;
  border-bottom: 1px solid #515151;
}
main .nav_laterale .s_nav_bottom .profile{
  display: flex;
}
main .nav_laterale .s_nav_bottom .profile .img_profile{
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #515151;
  overflow: hidden;
}

main .nav_laterale .s_nav_bottom .profile .img_profile img{
  width: 100%;
}
main .nav_laterale .s_nav_bottom .profile span{
  line-height: 24px;
  font-weight: 700;
}

main .nav_laterale .s_nav_bottom .installa_app i:hover{
  color: #FFF;
  cursor: pointer;
}

main .nav_laterale .s_nav_bottom .installa_app span:hover{
  color: #FFF;
  cursor: pointer;
}

/* /navbar laterale */

/* contenitore del main */

.content{
  width: calc(100% - 230px);
  height: calc(100vh - 90px);
  background-color: red;
  overflow-y: auto;
}

/* TOP MAIN FIXATO */

.upgrade{
  position: fixed;
  width: calc(100% - 230px);
  height: 90px;
  display: flex;
  justify-content: flex-end;
  background-color: rgba(0,0,0,0.5);
  flex-shrink: 0;
}

.upgrade button{
  margin-right: 20px;
  height: 50%;
  background: none;
  color: #FFF;
  padding: 0 20px;
  border-radius: 50px;
  border-color: #fff;
  margin-top: 22px;
  cursor: pointer;
}

.upgrade button:hover{
  transform: scale(1.1,1.1);
}
/* /TOP MAIN FIXATO */

/* SELEZIONE */
.content_nav{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: coral;
  padding: 10px;
  margin-top: 90px;
}

.content .content_nav ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.content .content_nav ul li{
  padding: 10px;
  position: relative;
}
.content .content_nav ul li a{
  text-decoration: none;
  color: #7d7f84;
}

main .content .content_nav ul li .barra_green2{
  position: absolute;
  bottom: 0;
  left: calc(50% - 15px);
  width: 30px;
  height: 2px;
  background-color: #adff2f;
  display: none;
}

main .content .content_nav ul li:active .barra_green2{
  display: block;
}
/* /SELEZIONE */

/* CONTENITORE */
/* ROW CON GLI ALBUM */
.row{
  width: 100%;
 /*  height: 300px; */
  background-color: #adff2f;
}

.row ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.row ul li{
  width: calc(100% / 6);
  padding: 10px;
  text-align: center;
  color: #FFF;
}

.row ul li img{
  width: 80%;
  margin: auto;
}

.row:last-of-type ul li img{
  border-radius: 50%;
}
/* footer */
footer {
  display: flex;
  justify-content: space-between;
  height: 90px;
  background-color: #282828;
}
.footer-left, .footer-right, .footer-center{
  display: flex;
  flex-shrink: 0;
}.footer-left, .footer-right, .footer-center{
  display: flex;
  flex-shrink: 0;
}
footer .icon {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: #878787;
  height: 100%;
  padding: 14px 0;
  cursor: pointer;
  /* margin: 0 15px; */
}
footer .footer-left .titolo-brano{
  display: flex;
  align-items: center;
  color: #FFF;
}
.icon img {
  width: 75%;
 /* height: 100%;  */
  object-fit: cover;
}
.min_album{
  width: 61px;
  margin: 0 5px;
}


/* footer center */


.container {
  position:relative;
  margin: 100px auto;
  width: 150px;
  text-align: center;
}

.progress2 {
  padding: 3px;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.25);  
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}
.progress-bar2 {
  height: 6px;
  border-radius: 30px;
  background-image: 
    linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  transition: 0.4s linear;  
  transition-property: width, background-color;    
}

.progress-moved .progress-bar2 {
  width: 85%; 
  background-color: #fff;  
  animation: progressAnimation 6s infinite;
  
}

@keyframes progressAnimation {
  0%   { width: 5%; background-color: #fff;}
  100% { width: 85%; background-color: #fff; }
}

.circle{
  color: #FFF;
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  left: 0;
  top: 3px;
  animation: CircleAnimation 6s infinite;
}

@keyframes CircleAnimation{
  0% {left: 0;}
  100% {left: 85%;}
  }


/* footer center */
footer .footer-center{
  flex: row;
}
footer .footer-center ul{
  list-style:none;
}

footer .footer-center ul li{
  display: inline-block;
}







/* media query */

/* media query della nav laterale */
@media (max-width: 600px) {
  main .nav_laterale .s_nav_top .nav_logo{
    padding: 5px;
    height: auto;
  }
  main .nav_laterale .s_nav_top .nav_logo .nav_lm{
    display:block;
    margin-left: 6px;
  }
  main .nav_laterale .s_nav_top .nav_logo .nav_lg{
    display: none;
  }
  main .nav_laterale {
    width: 50px;
  }
  main .content, main .content .upgrade{
    width: calc(100% - 50px);
  }

  main .nav_laterale .s_nav_top ul li img{
    margin-left: 12px;
  }

  main .nav_laterale .s_nav_top ul li a{
    display: none;
  }

  main .nav_laterale .s_nav_top .playlist{
    display: none;
  }

  main .nav_laterale .s_nav_bottom span{
    display: none;
  }

  main .nav_laterale .s_nav_bottom .installa_app{
    border: none;
  }

  main .nav_laterale .s_nav_bottom{
    padding: 0;
  }
  main .nav_laterale .s_nav_bottom .profile .img_profile{
    margin-left: 12px;
  }
  main .nav_laterale .s_nav_bottom .installa_app .far.fa-arrow-alt-circle-down{
    margin-left: 15px;
  }
  /* /menu laterale */
  .row .album li img{
    width: 250px;
  }
}